# Example MariaDB config file for very large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# MariaDB.
#
# MariaDB programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, do:
# 'my_print_defaults --help' and see what is printed under
# Default options are read from the following files in the given order:
# More information at: http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.


# The MySQL server
[mysqld]

general_log = 1
slow_query_log = 1
long_query_time = 30
performance_schema = ON
log_output = TABLE

character_set_server=utf8
collation_server=utf8_general_ci

innodb_buffer_pool_size = 4096M